<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete Building</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>
<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the building "{{ building.building_name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
        <a href="{% url 'building_list' %}">Cancel</a>
    </form>
</body>
</html>
